/* LOGO ANIMATION */

.logo {
  transition: all 2.4s ease-out;
}

nav:has(.nav--links li a:hover) .logo {
  animation: rotate .4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* NAV ANIMATION */

nav .nav--links {
  animation: translateFromTop .3s ease-in-out;
}

@keyframes translateFromTop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* HERO ANIMATION */

.main-heading__human {
  animation: pulse .3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(-15deg);
  }
  50% {
    transform: scale(1.1) rotate(-20deg);
  }
  100% {
    transform: scale(1) rotate(-5deg);
  }
}

/***************************************/

.main-action__button {
  transition: all .2s ease-in-out;
}

.main-action__button:hover {
  background-color: pink;
  transform: scale(1.1);
}

/****************************************/

footer {
  background: linear-gradient(90deg, rgba(253,171,29,.3) 0%, rgba(238,69,252,.3) 100%);
  background-size: 400%;
  background-position: left;
  transition: background-position 3s ease-in-out;
  animation: diffuse 20s linear infinite alternate;
}

@keyframes diffuse {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}


/*******************************************/

/* CARD ANIMATION */
.hero {
  overflow: hidden;
}

.card--1, .card--2, .card--3, .card--4 {
  transition: all .2s ease-in-out;
}

.card--1 {
  animation: translateFromLeft .3s ease-in-out;
}

.card--2 {
  visibility: hidden;
  animation: translateFromLeft .3s ease-in-out;
  animation-delay: .25s;
  animation-fill-mode: forwards;
}

.card--3 {
  visibility: hidden;
  animation: translateFromRight .3s ease-in-out forwards;
  animation-delay: .3s;
}

.card--4 {
  visibility: hidden;
  animation: translateFromRight .3s ease-in-out forwards;
  animation-delay: .35s;
}

@keyframes translateFromRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes translateFromLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

